.connexion{
    text-align: center;
}
fieldset{
    width: 400px;
    border-radius: 20px;
    box-shadow: 0px,0px,100px,0px black;
}
caption{
    font-size: 50px;
    color: rgb(251, 251, 252);
    font-weight: bolder;
}
.enregistrer{
    text-decoration: none;
}
body{
    background-image:linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)), url(../image/8.jpg);
    background-position: center;
    background-size: cover;
}
td{
    color: aliceblue;
}