body{
    background-image:linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)), url(../image/5.jpg);
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}
.menu{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.menu a{
    color: aliceblue;
    font-size: 40px;
}
.menu .menu1 a:hover{
     background-color: black;
     border-radius: 10px;
}
.menu .menu2 a:hover{
    background-color: black;
    border-radius: 10px;
}
footer{
    font-weight: bolder;
    text-align: center;
    font-size: 20px;
    color: aquamarine;
}
p{
    color: aliceblue;
    font-size: 17px;
    text-align: center;
}